//Import Bootstrap
@import "../bootstrap-sass/bootstrap";
//Import Google Fonts
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

//Font Variables
$main-font: "Helvetica Neue",
"Helvetica",
Helvetica,
Arial,
sans-serif;
$secondar-font: "Oswald";
$label-font: Verdana,
arial,
helvetica,
sans-serif;
$decorative-font: "Rock Salt",
cursive;
$base-size: 62.5%;
$base-text-size: 14px;
.base-font-stack {
    font-family: $main-font;
    font-weight: normal;
    font-style: normal;
    font-size: $base-text-size;
    line-height: 1;
}
//Colors
$dark-gray: #222222;
$light-gray: #d1d1d1;
$form-wrap: #ebdab7;
$main-font: #3c3c3c;
$section-headers: #af5a14;
$background-default: #fff;
$alert: #9c0003;
$light-brown: #c8b194;
$tan: #f9dec7;

/* ======================= 
 * Helper Classes
 *======================== */

.no-margin-l-r {
    margin-left: 0px;
    margin-right: 0px;
}
@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}
.show-for-small,
.show-for-medium,
.show-for-medium-down,
.hide-for-large,
.hide-for-large-up,
.show-for-xlarge,
.show-for-print {
    display: none !important;
}
.hide-for-small,
.hide-for-medium,
.hide-for-medium-down,
.show-for-large,
.show-for-large-up,
.hide-for-xlarge,
.hide-for-print {
    display: inherit !important;
}

/* ======================= 
 * General Page
 *======================== */

html {
    font-size: $base-size;
}
body {
    background: $background-default;
    @extend .base-font-stack;
    color: $dark-gray;
    position: relative;
    -webkit-font-smoothing: antialiased;
    background: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1988/donation-bg.jpg?v=1462900940000") no-repeat scroll center top / 100% auto rgba(0, 0, 0, 0);
}
img {
    max-width: 100%;
}

.eamandaToryfIeldmarker {
    float: left;
    color: $alert;
    font-size: 24px;
    vertical-align: middle;
    margin-right: 4px;
    line-height: 18px;
    padding-top:6px;
    display:inline-block;
}

#year-select{
    margin-left:10px;
}

.name-error{
    font-size: 21px;
    color: #d62a2a;
}


/* ======================= 
 * Grid
 *======================== */

#main {
    @include container-fixed;
    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
    margin-top: 20px;
}
.form-holder {
    @include make-row;
    @extend .no-margin-l-r;
}
.form-wrap {
    @include make-md-column-offset(1);
    @include make-md-column(10);
    padding: 25px;
    @include border-radius(12px);
    border: 1px solid $light-brown;
    background-color: $form-wrap;
}

/* ======================= 
 * Main Form Area
 *======================== */

form {
    background-color: $background-default;
    padding: 0px 20px 20px 20px;
    border: 1px solid $light-gray;
}
//Dropdowns
.lt-ie9 form.custom div.custom.dropdown a.selector {
    height: 28px;
}
label {
    font-family: $label-font;
    font-size: 9pt;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    &[for="Custom_Amount"] {
        float: left;
        padding-right: 10px;
    }
}

.transactionID,
.premiumGift,
.transactionAmount {
    text-decoration: none;
}
    
.unseenInfo {
    display: none!important;
}

#inputOptIn{
    margin-left:10px !important;
}

input,
textarea {
    border: 1px solid #d9d6cf;
    padding: 5px 7px;
    @include border-radius(5px);
    @include box-shadow(inset 3px 3px 3px #f0f0f0);
}
@media(max-width:400px) {
    select {
        background: transparent url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1988/br_down.png?v=1463410048000") no-repeat 210px;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d9d6cf;
    padding: 0px 7px !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: inset 3px 3px 3px #f0f0f0;
    -moz-box-shadow: inset 3px 3px 3px #f0f0f0;
    box-shadow: inset 3px 3px 3px #f0f0f0;
    background: transparent url(https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1988/br_down.png?v=1463410048000) no-repeat 96%;
    height: 28px;
}

.calloutTextExtra {
    width: 150px !important;
}

.en__field--8603 select{
    width:120px;
}

.en__field--5878{
    .en__field__label--positionabove{
        display:none;
    }
}

.en__field__input--select{
    max-width:250px;
}

.en__field__label{
    vertical-align:bottom !important;
    width:auto;
}

.en__field--8558 label{
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px !important;
}

.en__field__error{
    color: #d62a2a;
    font-weight: bold;
    font-size: 18px;
}

/* ======================= 
 * Monthly Donations
 *======================== */

.en__field--8586 {
    background-color: $tan;
    width: 76%;
    padding: 10px;
    label {
        color: $main-font;
        font-size: 16px;
        padding-left: 20px;
        display: block;
        margin-top: -16px;
    }
}

@media(max-width:768px) {
    .en__field--8586 {
        width: 100%;
        padding: 10px;
    }
}
#Direct_My_GiftField {
    margin-top: 12px;
    margin-bottom: 10px;
}


.en__errorHeader{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    background-color: #008d95;
}

.en__errorList_notice {
    margin: 0;
    padding: 10px 10px;
    list-style: none;
    background-color: #eafeff;
    border-bottom: 4px solid red;
}

.zipInfo{
    font-size:10px;
}




/* CSS Below */


/* Buttons */

.en__submit {
    
    button{
            background: #ea4f51;
            background: -moz-linear-gradient(top, #ea4f51 0%, #d21414 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea4f51), color-stop(100%, #d21414));
            background: -webkit-linear-gradient(top, #ea4f51 0%, #d21414 100%);
            background: -o-linear-gradient(top, #ea4f51 0%, #d21414 100%);
            background: -ms-linear-gradient(top, #ea4f51 0%, #d21414 100%);
            background: linear-gradient(to bottom, #ea4f51 0%, #d21414 100%);
            border: 1px solid #d00f0f;
            color: #fff;
            font-size: 28px;
            font-weight: bold;
            font-family: Verdana, Arial, sans-serif;
            width: 300px;
            max-width: 300px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            margin-top: 20px;
            height: 56px;
            text-align:center;
            border-radius:5px;
    }

}

@media(max-width:768px) {
    .eaSubmitResetButtonGroup {
        display: block;
        padding-bottom: 20px;
        text-align: center;
    }
    .hide-for-large {
        display: block !important;
    }
}
@media(max-width:400px) {
    .en__submit button {
        max-width: 240px;
        text-align:center;
    }
    input,
    textarea,
    select {
        max-width: 240px;
    }
}
.payment-type-buttons {
    margin-bottom: 20px;
    margin-top: -8px;
}
#Yes_MonthlyDiv {
    clear: both;
}
.cc-acepted {
    margin-bottom: 10px;
}
.payment-type-buttons label {
    font-weight: bold !important;
    font-size: 16px;
    width: 212px;
    padding: 6px 20px;
    margin: 10px 0;
    cursor: pointer;
}
.gray-normal-payment {
    background: #fafafa !important;
    background: -moz-linear-gradient(top, #fafafa 0%, #e0dede 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e0dede)) !important;
    background: -webkit-linear-gradient(top, #fafafa 0%, #e0dede 100%) !important;
    background: -o-linear-gradient(top, #fafafa 0%, #e0dede 100%) !important;
    background: -ms-linear-gradient(top, #fafafa 0%, #e0dede 100%) !important;
    background: linear-gradient(to bottom, #fafafa 0%, #e0dede 100%) !important;
    border: 1px solid #b4b4b4 !important;
    color: #808080 !important;
}
.red-active-payment {
    background: #fd4444 !important;
    background: -moz-linear-gradient(top, #fd4444 0%, #b31413 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd4444), color-stop(100%, #b31413)) !important;
    background: -webkit-linear-gradient(top, #fd4444 0%, #b31413 100%) !important;
    background: -o-linear-gradient(top, #fd4444 0%, #b31413 100%) !important;
    background: -ms-linear-gradient(top, #fd4444 0%, #b31413 100%) !important;
    background: linear-gradient(to bottom, #fd4444 0%, #b31413 100%) !important;
    border: 1px solid #b4b4b4 !important;
    color: #fff !important;
}
@media(max-width:768px) {
    #main {}
    .form-wrap {
        padding: 5px;
    }
    .hide-for-small {
        display: none !important;
    }
}
@media(max-width:767px) {
    form {
        padding: 5px !important;
        background: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1988/form-mobile-bg.png?v=1462903177000") no-repeat scroll 0px 0px #ffffff !important;
    }
}

/* Header Copy Styles */

.ty-header-copy {
    font-family: Verdana, Arial, sans-serif;
    padding: 0px 0px 0px 35px;
}
.ty-header-copy h1 {
    font-family: "Oswald";
    font-size: 58px;
    font-weight: normal;
    color: #ae4d0f;
    margin: 0px 0px 20px;
}
.ty-header-copy p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #5c503c;
    margin: 0px 0px 22px;
}
@media(max-width:1199px) {
    .ty-header-copy p {
        font-size: 12px;
    }
}
@media(max-width:768px) {
    .ty-header-copy {
        padding: 0 15px !important;
    }
}
@media(max-width:330px) {
    .ty-header-copy h1 {
        font-size: 50px;
    }
}

/* Header Copy Thank You Page */

#Header_Section_Thank_You_PageDiv {
    margin-bottom: -1px;
}
#Header_SectionDiv {
    min-height: 260px;
}
.form-image {
    position: relative;
    height: 280px;
}
@media(max-width:1200px) {
    .form-image {
        position: relative;
        height: 320px;
    }
}
.form-image img {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.header-copy {
    font-family: Verdana, Arial, sans-serif;
    padding: 0px 0px 0px 0px;
}
.header-copy h1 {
    color: #af5914;
    font-size: 40px;
    font-weight: bold;
    line-height: 28px;
    margin: 0px 0px 4px;
}
.header-copy h2 {
    color: #4c0a01;
    font-size: 28px;
    line-height: 28px;
    margin: 0px 0px 20px;
}
.header-copy-paragraph p {
    color: #3e3e3e;
    font-size: 12px;
    line-height: 22px;
    margin: 0px 0px 22px;
    padding: 0px 0px 0px 0px;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 9pt;
}
#tyGift {
    background-color: #e0202c;
    text-align: justify;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    padding: 10px;
    margin: 50% auto 0;
    max-width: 140px;
}
#tyGift-mobile {
    background-color: #e0202c;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
@media(max-width:1199px) {
    .header-copy-paragraph p {
        font-size: 12px;
    }
}
@media(max-width:768px) {
    .header-copy img {
        margin: 0 auto;
    }
    .header-copy,
    .header-copy-paragraph p {
        padding: 0 15px !important;
        text-align: center;
    }
}

/* Section Headlines */

.section-header,
.section-header-short {
    background-color: #af5a14;
    border-top: none;
    color: #fff;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0 0 10px;
}
.section-header-short {
    width: 76%;
    margin: 0;
}
@media(max-width:768px) {
    .section-header-short {
        width: 100%;
    }
}

/* Amount Buttons */

#Amount_ButtonsDiv {
    margin-top: 25px;
    text-align: left;
}
#OtherInput {
    padding-left: 10px;
    display: inline-block;
    margin-left: 4px;
}
.otherinput-holder {
    clear: both;
    display: block;
    padding-top: 20px;
    margin-bottom: 20px;
}
div.amount-holder {
    display: inline-block;
}
div.amount-button {
    display: table;
    width: 100px;
    height: 70px;
    text-align: center;
    background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa 0%, #e0dede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e0dede));
    background: -webkit-linear-gradient(top, #fafafa 0%, #e0dede 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #e0dede 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #e0dede 100%);
    background: linear-gradient(to bottom, #fafafa 0%, #e0dede 100%);
    border: 1px solid #b4b4b4;
    color: #808080;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 8px;
}
.amount-button-clicked {
    background: #fd4444 !important;
    background: -moz-linear-gradient(top, #fd4444 0%, #b31413 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd4444), color-stop(100%, #b31413)) !important;
    background: -webkit-linear-gradient(top, #fd4444 0%, #b31413 100%) !important;
    background: -o-linear-gradient(top, #fd4444 0%, #b31413 100%) !important;
    background: -ms-linear-gradient(top, #fd4444 0%, #b31413 100%) !important;
    background: linear-gradient(to bottom, #fd4444 0%, #b31413 100%) !important;
    border: 1px solid #b4b4b4;
    color: #fff !important;
}
.amount-button label {
    display: table-cell;
    vertical-align: middle;
}
.amount-button h4 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;
}
.amount-button p {
    font-size: 12px;
    line-height: 16px;
}
.amount-button span {
    font-weight: bold;
    display: block;
}
.amount-button:last-of-type {
    margin-bottom: 22px;
}
@media(max-width:1200px) {
    #Amount_ButtonsDiv {
        text-align: center;
    }
}

/* What Program */

#ProgramDiv {
    margin-top: 6px;
}
#Program {
    width: 280px;
    height: 28px;
    margin-bottom: 30px;
}

/* Email Opt In */

#Opt-InDiv {
    margin-bottom: 25px;
}
#Opt-InDiv label {
    padding-left: 20px;
    display: block;
    margin-top: -12px;
}
#Security_NumberDiv {
    margin-bottom: 10px;
}

/* Payment Options */

#Account_TypeField label {
    padding-left: 12px;
}
a[name="Bank_Agree"] {
    display: none !important;
}
#Bank_AgreeField label {
    float: left;
    padding-left: 36px;
    padding-right: 20px;
    margin-top: -24px;
    margin-bottom: 30px !important;
}

/* Thank You - St. Labre Story */

.no-padding {
    padding: 0px !important;
}
#story {
    margin: 0;
    position: relative;
}
#story #story-text {
    background-color: #f0a82f;
    margin-top: -1px;
}
#story #story-text h4 {
    font-family: Arial;
    font-size: 27px;
    color: #ae4e10;
    font-weight: bold;
    margin: 33px 0px 18px;
}
#story #story-text p {
    margin-top: 0px;
    margin-bottom: 17px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #434343;
    line-height: 1.3;
}
#buttons {
    padding-bottom: 35px;
}
#buttons a {
    display: inline-block;
    background-color: #be2c37;
    width: 195px;
    height: 60px;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    line-height: 60px;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    padding-left: 14px;
    border: 1px solid #ffffff;
    cursor: pointer;
}
#buttons a:hover {
    text-decoration: none;
}
#buttons a + a {
    margin-left: 30px;
}
#facebook-share {
    background: #be2c37 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1988/facebook.png?v=1463282394000') no-repeat 135px center;
}
#twitter-share {
    background: #be2c37 url('https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1988/twitter.png?v=1463282398000') no-repeat 135px center;
}
#story-image {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 20;
}

/* Miracle */

#miracle {
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
}
#miracle p {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #5c503c;
    text-align: center;
    line-height: 1.7;
}
#miracle h1 {
    font-family: "Rock Salt", cursive;
    font-weight: normal;
    color: #21369d;
    font-size: 35px;
    text-align: center;
    -ms-transform: rotate(-1.2deg);
    -webkit-transform: rotate(-1.2deg);
    transform: rotate(-1.2deg);
}
.brown-box {
    background-color: #ae4e10;
    border-radius: 5px;
    position: relative;
    min-height: 253px;
}
.brown-box h4 {
    font-family: "Oswald";
    font-size: 33px;
    color: #ffffff;
    font-weight: normal;
    margin-top: 27px;
    margin-bottom: 34px;
}
.brown-box p {
    text-align: left !important;
    margin-top: 0px !important;
    color: #ffffff !important;
    font-family: Verdana !important;
    line-height: 1.3 !important;
    font-size: 11px !important;
    margin-bottom: 17px !important;
}
#learn_more {
    display: block;
    margin: 0px auto 16px;
    text-align: center;
    margin-bottom: 16px;
    width: 180px;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    color: #ffffff;
    font-family: Verdana;
    font-weight: bold;
    font-size: 23px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    background: #ea5052;
    background: -moz-linear-gradient(top, #ea5052 0%, #d11111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea5052), color-stop(100%, #d11111));
    background: -webkit-linear-gradient(top, #ea5052 0%, #d11111 100%);
    background: -o-linear-gradient(top, #ea5052 0%, #d11111 100%);
    background: -ms-linear-gradient(top, #ea5052 0%, #d11111 100%);
    background: linear-gradient(to bottom, #ea5052 0%, #d11111 100%);
}
#see_our_history {
    display: block;
    margin: 0px auto 16px;
    text-align: center;
    margin-bottom: 16px;
    width: 235px;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    color: #ffffff;
    font-family: Verdana;
    font-weight: bold;
    font-size: 23px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    background: #ea5052;
    background: -moz-linear-gradient(top, #ea5052 0%, #d11111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea5052), color-stop(100%, #d11111));
    background: -webkit-linear-gradient(top, #ea5052 0%, #d11111 100%);
    background: -o-linear-gradient(top, #ea5052 0%, #d11111 100%);
    background: -ms-linear-gradient(top, #ea5052 0%, #d11111 100%);
    background: linear-gradient(to bottom, #ea5052 0%, #d11111 100%);
}
#learn_more:hover,
#see_our_history:hover {
    text-decoration: none;
}
#community_image {
    position: absolute;
    top: -35px;
    right: -72px;
    z-index: 99;
}
#legacy_image {
    position: absolute;
    right: -50px;
    top: -50px;
}
#right-box {
    margin-left: 17px;
}
@media only screen and (max-width: 1200px) {
    #buttons a + a {
        margin-left: 10px;
    }
    .brown-box h4 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 991px) {
    /* Small Device Styles here */
    #community_image,
    #legacy_image,
    #story-image img {
        display: none !important;
    }
    #facebook-share,
    #twitter-share {
        display: block !important;
        margin: 0px auto 10px !important;
    }
    #right-box {
        margin-left: 0px;
        margin-top: 25px;
    }
    #story #story-text h4 {
        margin: 0;
        padding: 20px 0;
    }
    .brown-box h4 {
        padding-top: 24px;
    }
}
@media (max-width:400px) {
    .brown-box {
        padding-bottom: 10px;
    }
}

/* Thank You Table */

#receipt-table p {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 9pt;
    margin: 20px 0;
}
th {
    background-color: #af5a14;
    border-top: medium none;
    color: #fff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}
.print-links {
    text-decoration: underline;
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 9pt;
    color: #3596D4;
}

/* Gift Types */

#Gift_TypeField {
    margin-top: 5px;
}
#Gift_TypeDiv .eaFormElementLabel {
    display: none;
}
#Gift_TypeDiv label {
    margin-bottom: 40px !important;
}
#Gift_TypeField input {
    display: block !important;
    margin-bottom: -14px;
}
#GiftTypeField {
    margin-top: 5px;
}
#GiftTypeDiv .eaFormElementLabel {
    display: none;
}
#GiftTypeDiv label {
    margin-bottom: 40px !important;
}
#GiftTypeField input {
    display: block !important;
    margin-bottom: -14px;
}
.gift-type {
    font-family: Verdana, arial, helvetica, sans-serif;
    font-size: 9pt;
    min-width: 360px;
    padding-left: 20px;
    position: relative;
}
.gift-type img {
    float: left;
    padding-right: 12px;
}
.gift-type h5 {
    margin: 0 0 3px;
    font-weight: bold;
}
.gift-type p {
    line-height: 20px;
}
@media(max-width:768px) {
    .gift-type {
        width: 100%;
        min-width: 100%;
    }
    .gift-type img {
        width: 600px;
        float: none;
        padding-bottom: 8px;
    }
}
#Thank_You_Footer_MessageDiv {
    margin-top: -15px;
    margin-bottom: 20px;
    line-height: 16px;
}
#Donor_CommentsDiv label {
    color: #230d0b;
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 14px;
}
#No_Premuim_MessageDiv {
    margin: 20px 0 10px;
}

/* Footer */

#footer {
    margin-top: 20px;
}
#footer ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#footer ul a {
    float: left;
    text-decoration: none;
    color: #af4f10;
    padding: 0.2em 0.6em;
    border-right: 1px solid #b1aba9;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
}
#footer ul li:last-child a {
    border-right: none;
}
#footer ul li {
    display: inline;
}
p.info-footer {
    color: #928985;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 24px;
}
.padding-left-3 {
    padding-left: 3%;
}

/* Print Styles */

@media print {
    *,
    :after,
    :before {
        color: #000!important;
        text-shadow: none!important;
        background: 0 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: none;
    }
    a[href]:after {
        content: ""
    }
    abbr[title]:after {
        content: ""
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 0;
        page-break-inside: avoid
    }
    #receipt-table p {
        font-family: Verdana, arial, helvetica, sans-serif;
        font-size: 9pt;
        margin: 6px 0;
    }
    #receipt-table {
        padding-left: 14px;
    }
    #receipt-table th {
        border-top: solid 1px #dedede;
        border-bottom: solid 1px #dedede;
        font-size: 14px;
    }
}

/* Amount Buttons */

div.amount-button {
    width: 100px;
}
.amount-button h4 {
    margin-top: 21px;
}
#custom-amount {
    width: 280px;
    margin-left: 10px;
}
#Dynamic_Amount_ButtonsDiv {
    padding-top: 13px;
}
@media(max-width:767px) {
    #Dynamic_Amount_ButtonsDiv {
        text-align: center;
    }
}

#Dynamic_Gift_TableDiv {
    margin: 20px 0;
}

.gift-type {
    margin: 0 10px 30px;
}
.gift-type div {
    display: inline-block;
    float: left;
    max-width: 400px;
}
.gift-type input {
    margin-right: 10px;
}

#Thank_You_Footer_MessageDiv {
    margin-top: 0px;
}

@media (max-width: 768px) {
    .gift-type img {
        width: auto;
    }
    
    #mainButtons{
    text-align:center;
    }
}

.en__component--column{
   min-width:inherit !important;
}

.en__field--8586{
    .en__field__label--positionabove{
        display:none;
    }
}
